<ul class="list-group list-group-flush">
  <li *ngFor="let characterName of charactersList" class="list-group-item">{{ characterName }}</li>
</ul>

<div class="card p-3 mb-2 bg-danger text-white"
style="width: 18rem;"
*ngIf="deleteC; else NothingWasDeleted">
  <div class="card-body">
    <p class="card-text">Se ha eliminado a {{ deleteC }}.</p>
  </div>
</div>


<ng-template #NothingWasDeleted>
<div class="card p-3 mb-2 bg-danger text-white"
style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">No hay personajes que mostrar.</p>
  </div>
</div>
</ng-template>

<button *ngIf="charactersList.length > 0"
  class="btn btn-outline-danger"
  style="margin-top: 20px;"
  (click)="deleteCharacter()"
>Borrar último</button>
